<div class="container">
    <div class="row">
        <div class="col-xs-12">
        <a ng-click='logout()' height="75" width="75" style="margin-top:-98px" class="btn btn-default btn-lg logut"><img src="../Images/logut.jpg" height="75" width="75" /></a>
        <button type="button" style="margin-left:98px" class="btn btn-primary" ng-click='goToConsultantRegisterpage()'>RegisterConsultant</button>
        <button style="margin-left:20px;position:relative" class="btn btn-primary" ng-click='goToClientsPage()'>Search Consultants</button>
        <button style="margin-left:20px" ng-click='goToClientsAddEditPage()' class="btn btn-primary">User Management</button>
        <button style="margin-left:20px;position:relative" class="btn btn-primary">RegisterConsultant</button>
        <button style="margin-left:20px" class="btn btn-primary">RegisterConsultant</button>
        </div>
    </div>
</div>

<!--<nav class="navbar navbar-default">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../Images/logo1.jpg" alt="logo" style="width:40px;">
        </a>-->
      

        <!-- Collect the nav links, forms, and other content for toggling 
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">RegisterConsultant <span class="sr-only">(current)</span></a></li>
                <li><a href="#">RegisterConsultant</a></li>
                <li><a href="#">RegisterConsultant</a></li>
                <li><a href="#">RegisterConsultant</a></li>



            </ul>
          
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>-->








