<h1>Please Register the consultnt here:</h1>

<form class="form-group" novalidate>
    <label>Please enter the Consultant Name</label>
    <input class="form-control" required />
    <label>Please enter the client DOB</label>
    <input class="form-control" />
    <label>Please enter the Location Adress</label>
    <input class="form-control" />
    <label>Please enter the PassportNum</label>
    <input class="form-control" />
    <label>Please enter the PrimarySkill</label>
    <input class="form-control" required />
    <label>Please enter the Secondary Skill</label>
    <input class="form-control" />
    <label>Please enter the Client Domain</label>
    <input class="form-control" required />
    <label>Please enter the consultant Avilability for in person interview</label>
    <input class="form-control" />
    <label>Please enter the Pass Out Year</label>
    <input class="form-control" />
    <label>Please enter the Pass out university</label>
    <input class="form-control" />
    <label>Please enter the Current employer</label>
    <input class="form-control" />
    <label>Avilability gor the transfer of H1B</label>
    <input class="form-control" />
    <label> Avilability for on site opportunity</label>
    <input class="form-control" /><br>

    <button class="btn btn-primary btn-lg" ng-click="submitConsultantDetails()">Submit</button> &nbsp;

</form>
<button class="btn btn-danger btn-lg" ng-click="cancel()">Cancel</button>