<h1>Please find all the consultants information here:</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3">
            <input type="search" placeholder="Name search..." class="form-control" /> <button style="border-radius:5px" class="glyphicon glyphicon-search btn-primary"></button> &nbsp;
        </div>
        <div class="col-xs-3">
                <input type="search"  placeholder="Skill search..."  class="form-control" /> <button style="border-radius:5px" class="glyphicon glyphicon-search  btn-primary"></button> &nbsp;
        </div>
        <div class="col-xs-3">
                <input type="search" placeholder="Location search..." class="form-control"  /><button style="border-radius:5px"  class="glyphicon glyphicon-search  btn-primary"></button> &nbsp;
                 </div>
        <div class="col-xs-3">
                <input type="search" placeholder="Name search..." class="form-control" /> <button style="border-radius:5px" class="glyphicon glyphicon-search   btn-primary"></button>  &nbsp;
        </div>
        </div>
</div>