<h1>Please find all the consultants information here:</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3">
            <input type="search" ng-model="searchObj.domain" placeholder="Skill search..." class="form-control" />  &nbsp;
        </div>
        <div class="col-xs-3">
                <input type="search" ng-model="searchObj.visa"  placeholder="Visa search..."  class="form-control" /> &nbsp;
        </div>
        <div class="col-xs-3">
            <input type="search" placeholder="Location search..." ng-model="searchObj.location"  class="form-control" /> &nbsp;
            <button ng-click="searchConsultants(searchObj)" style="border-radius:5px; margin-left:250px; margin-top:-50px; " class="glyphicon glyphicon-search   btn-primary"></button>
        </div>
       
        </div>
</div>